body {
    min-height: 100vh;
    background:linear-gradient(to right,#FAFAFA,#E8F1F5); /*1 i 3 de la pal 1*/
    overflow-x: hidden;
    
  }


  /* Estilos para el Navbar */


.custom-navbar-toggle .navbar-toggler-icon {
  color: white; 
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list" viewBox="0 0 16 16"><path d="M1 3.5A.5.5 0 0 1 1.5 3h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM1 12.5A.5.5 0 0 1 1.5 12h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/></svg>');
}

/*footer*/
.fondo_nav_footer{
  /*background-color: #19376D;*/
  background:linear-gradient(to right,#0B2447,#19376D);
}





